<div class="Footer">
    <div>
        <div class="MiaoLiHan">
            <span class="chinese-name">喵立翰 </span>
            <span class="english-name">Miao Li-Han</span>
        </div>
        <div class="AddressFrame">
            <div class="MapPin"></div>
            <div class="AddressText">喵星區，毛茸茸大道88號，喵喵大樓3樓</div>
        </div>
        <div class="EmailFrame">
            <div class="Mail"></div>
            <div class="EmailText">meowoffice@linmeow.tw</div>
        </div>
        <div class="PhoneFrame">
            <div class="Phone"></div>
            <div class="PhoneText">(02) 888-5678</div>
        </div>
    </div>
    <div class="YearText">© 2023 喵立翰 Miao Li-Han 版權所有</div>
</div>