<div class="container">
    <div class="titleText">小額捐款</div>
    <div class="spacing40"></div>
    <div class="totalAmount">目前小額贊助總金額：987,655,873</div>
    <div class="frameContainer">
        <!-- Frame 1 -->
        <div class="frame">
            <div class="frameContent">
                <img class="image" src="assets\images\donation1.jpg"/>
                <div class="innerFrame">
                    <div class="title">喵星人之友</div>
                    <div class="infoFrame">
                        <div class="info">
                            <img class="infoImage" src="assets\images\money.png"/>
                            <div class="infoText">600</div>
                        </div>
                        <div class="info">
                            <img class="infoImage" src="assets\images\people.png"/>
                            <div class="infoText">9957</div>
                        </div>
                    </div>
                    <div class="button">前往捐款</div>
                </div>
            </div>
        </div>
        <!-- Frame 2 -->
        <div class="frame">
            <div class="frameContent">
                <img class="image" src="assets\images\donation2.jpg" />
                <div class="innerFrame">
                    <div class="title">喵星大使</div>
                    <div class="infoFrame">
                        <div class="info">
                            <img class="infoImage" src="assets\images\money.png" />
                            <div class="infoText">6000</div>
                        </div>
                        <div class="info">
                            <img class="infoImage" src="assets\images\people.png" />
                            <div class="infoText">2000</div>
                        </div>
                    </div>
                    <div class="button">前往捐款</div>
                </div>
            </div>
        </div>
        <!-- Frame 3 -->
        <div class="frame">
            <div class="frameContent">
                <img class="image" src="assets\images\donation3.png" />
                <div class="innerFrame">
                    <div class="title">喵星傳奇</div>
                    <div class="infoFrame">
                        <div class="info">
                            <img class="infoImage" src="assets\images\money.png" />
                            <div class="infoText">60000</div>
                        </div>
                        <div class="info">
                            <img class="infoImage" src="assets\images\people.png" />
                            <div class="infoText">999</div>
                        </div>
                    </div>
                    <div class="button">前往捐款</div>
                </div>
            </div>
        </div>
        <!-- Frame 4 -->
        <div class="frame">
            <div class="frameContent">
                <img class="image" src="assets\images\donation4.jpg" />
                <div class="innerFrame">
                    <div class="title">喵訂金額</div>
                    <div class="infoFrame">
                        <div class="info">
                            <img class="infoImage" src="assets\images\money.png" />
                            <div class="rectangle10"></div>
                        </div>
                    </div>
                    <div class="button">前往捐款</div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacing104"></div>
</div>