<div class="container">
    <img class="background-picture" src="assets\images\policy.png" />
    <div class="content">
        <div class="title-text">政策議題</div>
        <div class="policy-section">
            <div class="policy-item">
                <div class="policy-content">
                    <div class="policy-title">為毛孩子謀福利！推動寵物醫療保障方案</div>
                    <img class="photo" src="assets\images\policy1.jpg" />
                </div>
            </div>
            <div class="policy-item">
                <div class="policy-content">
                    <img class="photo" src="assets\images\policy2.jpg" />
                    <div class="policy-title">&nbsp;&nbsp;&nbsp;打造休閒天堂！推廣寵物休閒與娛樂場所</div>
                </div>
            </div>
            <div class="policy-item">
                <div class="policy-content">
                    <div class="policy-title">推廣寵物飼養教育，讓愛更加專業</div>
                    <img class="photo" src="assets\images\policy3.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>